@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@300;400;600&family=BIZ+UDPGothic:wght@400;700&family=Quicksand:wght@400;500;600&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

header {
    background-color: black;
    /*height: 50vh;*/
    color: white;
}

.contactButton {
    text-align: right;

}

.contactButton > a {
    margin: 20px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    display: inline-block;
}

.contactButton > a, .contactButton > a:hover, .contactButton > a:active, .contactButton > a:visited {
    text-decoration: none;
    color: white;
}

.flexHero {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
    justify-content: space-around;
}

.flexTitle {
    position: relative;
    font-size: 3rem;
    z-index: 0;
    font-family: 'Aleo', serif;
    font-weight: bold;
}
.textShadow {
    position: absolute;
    top: -20px;
    right: -90px;
    color: #6c757d;
    z-index: -1;
    white-space: nowrap;
    font-family: 'BIZ UDPGothic', sans-serif;
    font-weight: 300;
    font-size: 3.5rem;
}

.flexHeadings {
    /*flex-grow: 1;*/
    width: 100vw;
    font-size: 1.7rem;
    font-family: 'Aleo', serif;
}

.flexHeadings > ul {
    display: flex;
    justify-content: space-evenly;
}

li {
    list-style: none;
}

.bodyFlex {
    display: flex;
}
.nameplate {
    width: 15vw;
    background-color: #121212;
    color: white;
}

.flexNameplate {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Aleo', serif;
}

.imgContainer {
    margin: 20px;
}

.imgContainer > img {
    width: 12vw;
    height: 12vw;
    object-fit: cover;
    border: 2px solid white;
    border-radius: 50%;
}

.nameplateName {
    padding-bottom: 15px;
    font-size: 1.3rem;
}

.nameplateSocials {
    display: flex;
}

.nameplateSocials > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 10px;
    padding: 2px;
    color: black;
    width: 30px;
    height: 30px;
    border-radius: 20%;
}


.bodyFlex > section {
    padding: 40px;
    width: 70vw;
}

section > div {
    padding-bottom: 40px;
}

.pageNav {
    width: 15vw;
    padding: 30px;
    font-family: 'Aleo', serif;
}

.pageNav li {
    padding-bottom: 10px;
}

h3 {
    font-family: 'Aleo', serif;
}

.inProgressHeader {
    text-align: center;
    padding: 10px;
    background-color: #f3f334;
}
.blockquote {
    background-color: #eeeeee;
    padding: 10px;
    margin: 20px;
    border-left: 5px solid black;
}
.nolinkdeco {
    text-decoration: none;
    color: inherit;
    display: flex;
}

@supports (-webkit-background-clip: text) {
    .nolinkdeco:hover {
        background: linear-gradient(
                90deg,
                rgba(255, 0, 0, 1) 0%,
                rgba(255, 154, 0, 1) 10%,
                rgba(208, 222, 33, 1) 20%,
                rgba(79, 220, 74, 1) 30%,
                rgba(63, 218, 216, 1) 40%,
                rgba(47, 201, 226, 1) 50%,
                rgba(28, 127, 238, 1) 60%,
                rgba(95, 21, 242, 1) 70%,
                rgba(186, 12, 248, 1) 80%,
                rgba(251, 7, 217, 1) 90%,
                rgba(255, 0, 0, 1) 100%
        );
        -webkit-background-clip: text;
        color: transparent;
        transition: color .20s;
    }
}